*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}    
.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
header{
    position:fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 12%;
}
.logo{
    color: #141313;
    font-size: 32px;
    font-weight: 700;
}
.logo span{
    color: #FF6D64;
}
.navlist{
    display: flex;
    align-items: center;
}
.navlist a{
    color: #141313;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px 20px;
    transition: all .42s;
}